* {
  font-family: "Poor Story", cursive;
  font-size: 22px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --animate-duration: 300ms;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e9ba00;
  color: white;
  padding: 7px 15px;
}

.logo {
  width: 180px;
  height: 40px;
}

.logout_img {
  width: 35px;
  height: 35px;
}

button {
  display: flex;
  align-items: center;
  gap: 5px;
  background: none;
  outline: none;
  border: none;
}

button:hover {
  cursor: pointer;
  scale: 1.1;
  transition: all 0.1s;
}

button:hover > .logout_img {
  transform: rotate(360deg);
  transition: all 0.3s;
}
